:local{
  .topic{
    padding-top: 20px;
    background-color: #fefefe;
    h1{
      font-size: 20px;
      font-weight: 600;
      line-height: 1.6;
      padding-bottom: 10px;
      border-bottom: 1px solid #efefef;
    }
    .topic-head{
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      color: #666;
      border-bottom: 1px solid #efefef;
      .topic-head-img{
        margin-right: 6px;
        img{
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      .topic-head-left{
        display: flex;
        align-items: center;
      }
      .topic-head-info{

        margin-top: 6px;
        font-size: 13px;
      }
      .topic-head-user{
        a{
          color: #3794d8;
          font-size: 16px;
        }
      }
      .topic-head-collect{
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
          font-size: 26px;
          color: #5fafe8;
          margin-top: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .comment-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #efefef;
  }
  .comment-head-left{
    a{
      color: #3794d8;
    }
    img{
      margin-right: 6px;
    }
  }
  .comment-head-right{
    color: #666;
    i{
      padding-left: 10px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .comment-add{
    margin: 15px 0;
    font-size: 16px;
    padding-left: 4px;
    border-left: #3794d8 solid 2px;
  }
}

.am-list-header,.am-list-item{
  padding-left: 0;
}
.am-list-header{
  border-left: #3794d8 solid 2px;
  padding: 0 0 0 6px;
  margin: 15px 0;
}
