root = true

[*]
charset = utf-8                    #文件编码
indent_style = space               #缩进类型
indent_size = 2                    #缩进大小
end_of_line = lf                   #行结束文件格式
insert_final_newline = true        #是否最后一行插入空行
trim_trailing_whitespace = true    #行末尾是否允许空格
[*.md]
trim_trailing_whitespace = false
