// .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word){
//   background: none;
// }
:local{
  .publish{
    padding: 10px 0;
    background-color: #fefefe;
  }
  .publish-cate{
    padding-left: 15px;
  }
}
