body{
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
ul {
  list-style: inherit;
}
.am-tab-bar-bar .am-tab-bar-tab-title{
  font-size: 15px;
}
a{color:#363636}
.main{
  margin-top: 45px;
  margin-bottom: 50px;
}
.CodeMirror, .CodeMirror-scroll {
  min-height: 100px;
}

.header{
  width: 100%;
  position: fixed;
  z-index: 999;
}
